
.bg-image {
    background-image: url('../../../assets/photo-1559605948-3a76fa37a6b6/photo-1559605948-3a76fa37a6b6.png') !important;
    -webkit-background-image: url('../../../assets/photo-1559605948-3a76fa37a6b6/photo-1559605948-3a76fa37a6b6.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .mask {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background: rgba(0, 0, 0, 0.30);
        height: 100%;
        color: #fff;

        h2{
            font-weight: inherit;
        }
        .entrar-com {
            font-weight: 300;
            margin-bottom: 0px;
        }
        .line {
            color: transparent;
            height: 1px;
            width: 50%;
            margin: 10px auto;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7973564425770308) 22%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 59%, rgba(255,255,255,0.7497373949579832) 78%, rgba(255,255,255,0) 100%);
        }
    }
}

.no-scroll .scroll-content {
    overflow: hidden;
}