
<ion-content class="no-scroll">
  <section class="bg-image" fullscreen="true">
    <div class="mask" padding>

      <h2 text-center>Vota Brasil</h2>
      <ion-row style="margin-bottom: -5px;">
        <ion-col>
          <ion-button color="light" expand="block" (click)="rota('/entrar')">Entrar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="btn-default" expand="block" (click)="rota('/cadastro')">Cadastrar</ion-button>
        </ion-col>
      </ion-row>


    </div>
  </section>
</ion-content>
