
.voltar {
    position: absolute;
    top: 10px;
    ion-icon {
        font-size: 2em;
    }
}
.bg-image {
    background-image: url('../../../assets/bandeira-brasil-facebook/bandeira-brasil-facebook.png') !important;
    -webkit-background-image: url('../../../assets/bandeira-brasil-facebook/bandeira-brasil-facebook.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

    .mask {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 100px;
        background: rgba(0, 0, 0, 0.623);
        height: 100%;
        color: #fff;

        h2 {
            font-weight: inherit;
            margin: 0px;
        }
        .sub-title {
            font-weight: 150;
        }
    }
    .text-footer {
        position: absolute;
        bottom: 0px;
        font-weight: 300;
        margin-bottom: 0px;
        color: #fff;
        width: 100%;
        .text-footer-conta {
            margin: 20px 0px;
            font-weight: inherit;
        }
        .line {
            color: transparent;
            height: 1px;
            width: 50%;
            margin: 10px auto;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7973564425770308) 22%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 59%, rgba(255,255,255,0.7497373949579832) 78%, rgba(255,255,255,0) 100%);
        }
    }
}

.no-scroll .scroll-content {
    overflow: hidden;
}
