
<ion-header no-border no-line>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="fechar()" color="light">
          <ion-icon name="arrow-back" style="color: rgb(75, 75, 75)"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title texte-center>Notícia: {{relacao?.titulo}}</ion-title> 
      <ion-buttons slot="end">
        <ion-button *ngIf="relacao?.editar" (click)="editar()" color="primary">
            <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    
  <ion-content padding>
    
    <form [formGroup]="form" (ngSubmit)="salvar()">
      <ion-text color="secondary">
        <h1 text-center>Deixe seu comentário</h1>
      </ion-text>
      
      <ion-item>
        <ion-textarea name="descricao" formControlName="descricao" [(ngModel)]="comentario.descricao" rows="6" placeholder="Escreve aqui..."></ion-textarea>
      </ion-item>
  
      <ion-row>
        <ion-col></ion-col>
        <ion-col text-center>
          <ion-button type="submit" color="primary" [disabled]="!form.valid" >
            <span *ngIf="!comentario?.id">Comentar</span>
            <span *ngIf="comentario?.id">Atualizar</span>
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </form>
  </ion-content>
  